# Node
node_modules/
**/node_modules/

# Env
.env
**/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds
/dist
**/dist
/build
**/build

# IDE
.idea/
.vscode/
.DS_Store
