version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  backend:
    build: ./backend
    restart: unless-stopped
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/mern_capstone
      - JWT_SECRET=changemeinprod
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:5000
    restart: unless-stopped
    environment:
      - VITE_API_URL=http://localhost:5000
    ports:
      - "5173:80"
    depends_on:
      - backend
volumes:
  mongo_data:
